Repository solarwinds/solarwinds-otel-collector-releases, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "*.md"
ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*

Remove outdated release instructions from development guidelines
  docs/development-guidelines.md
Labels: documentation

Delete e2e tests
  internal/e2e/Makefile
  internal/e2e/README.md
  internal/e2e/config_test.go
  internal/e2e/containers.go
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/e2e/signals_processing_test.go
  internal/e2e/swohostmetricsreceiver_test.go
  internal/e2e/testdata/emitting_collector.yaml
  internal/e2e/testdata/emitting_collector_without_entity.yaml
  internal/e2e/testdata/expected/emitting_collector_heartbeat.json
  internal/e2e/testdata/expected/emitting_collector_without_entity_heartbeat.json
  internal/e2e/testdata/expected/test_logs_stream.json
  internal/e2e/testdata/expected/test_metrics_stream.json
  internal/e2e/testdata/expected/test_traces_stream.json
  internal/e2e/testdata/invalid_setup.yaml
  internal/e2e/testdata/receiving_collector.yaml
  internal/e2e/testdata/swohostmetricsreceiver.yaml
  internal/e2e/testdata/swohostmetricsreceiver_default.yaml
  internal/e2e/utils.go
  internal/e2e/without_entity_test.go
Labels: none

Update CONTRIBUTING and README files
  CONTRIBUTING.md
  README.md
Labels: documentation

Add GitHub Actions workflows for checks and rename deploy to release
  .github/workflows/checks.yml
  .github/workflows/release.yml
Labels: none

Remove otel_version parameter from prepare-release script
  Makefile
  build/prepare-release.sh
Labels: none

Refactor Docker image verification in release workflow to use a loop
  .github/workflows/release.yml
Labels: none

Update build/prepare-release.sh
  build/prepare-release.sh
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

Fix CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

Add 'build/test' branch to release workflow triggers
  .github/workflows/release.yml
Labels: none

Start pipeline
  pkg/version/version.go
Labels: none

Update version
  CHANGELOG.md
  pkg/version/version.go
Labels: documentation

Rename workflow from Deploy Images to Release
  .github/workflows/release.yml
Labels: none

Remove Docker package-ecosystem configuration from dependabot.yaml
  .github/dependabot.yaml
Labels: ci/cd
