Repository solarwinds/solarwinds-otel-collector-releases, pull requests merged in 2025-05, with the labels that each got.

#147 chore: release v0.123.2
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  processor/swok8sworkloadtypeprocessor/go.mod
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker

#149 feature: #150 playground and verified distributions
  .github/workflows/buildAndTest.yml
  .github/workflows/deploy.yml
  build/docker/Dockerfile
  cmd/solarwinds-otel-collector/components_playground.go
  cmd/solarwinds-otel-collector/components_verified.go
  internal/e2e/Makefile
  internal/e2e/config_test.go
  internal/e2e/containers.go
Labels: docker

#151 feature: #150 playground and verified distributions, round 2
  .github/workflows/buildAndTest.yml
  .github/workflows/deploy.yml
  build/docker/Dockerfile.Windows-2022
Labels: docker

#152 feature: #150 align latest tags
  .github/workflows/buildAndTest.yml
  .github/workflows/deploy.yml
  README.md
  build/docker/README.md
Labels: documentation

#153 chore: release v0.123.3
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  processor/swok8sworkloadtypeprocessor/go.mod
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker

#154 chore: bugfix release 0.123.4
  .github/workflows/deploy.yml
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  processor/swok8sworkloadtypeprocessor/go.mod
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker

#159 chore: release 0.123.6
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  processor/swok8sworkloadtypeprocessor/go.mod
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker

#163 feature: #164 add solarwindsentityconnector to K8s distribution
  cmd/solarwinds-otel-collector/components_k8s.go
Labels: docker

#166 feature: #165 Add `routingconnector` to the k8s distribution
  CHANGELOG.md
  cmd/solarwinds-otel-collector/components_k8s.go
  cmd/solarwinds-otel-collector/components_verified.go
Labels: documentation, docker

#168 chore: utilize builder
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yaml
  .github/workflows/buildAndTest.yml
  .gitignore
  Makefile
  README.md
  build/docker/Dockerfile
  build/docker/Dockerfile.Windows-2022
  build/docker/Dockerfile.k8s
  build/docker/Dockerfile.k8s.Windows-2022
  build/prepare-release.sh
  cmd/solarwinds-otel-collector/components_k8s.go
  cmd/solarwinds-otel-collector/components_playground.go
  cmd/solarwinds-otel-collector/components_verified.go
  cmd/solarwinds-otel-collector/go.mod
  cmd/solarwinds-otel-collector/go.sum
  cmd/solarwinds-otel-collector/main.go
  cmd/solarwinds-otel-collector/main_others.go
  cmd/solarwinds-otel-collector/main_windows.go
  distributions/k8s/manifest.yaml
  distributions/playground/manifest.yaml
  distributions/verified/manifest.yaml
  docs/development-guidelines.md
Labels: documentation, docker, ci/cd
