Repository solarwinds/solarwinds-otel-collector-releases, pull requests merged in 2025-06, with the labels that each got.

#186 chore: prepare release 0.127.1
  CHANGELOG.md
  Makefile
  build/prepare-release.sh
  distributions/k8s/manifest.yaml
  distributions/playground/manifest.yaml
  distributions/verified/manifest.yaml
  docs/development-guidelines.md
  pkg/version/version.go
Labels: documentation, docker

#182 docs: integration templates
  examples/integrations/apache/config.yaml
  examples/integrations/confluentcloud/config.yaml
  examples/integrations/docker/config.yaml
  examples/integrations/elasticsearch/config.yaml
  examples/integrations/iis/config.yaml
  examples/integrations/kafka/config.yaml
  examples/integrations/memcached/config.yaml
  examples/integrations/nginx/config.yaml
  examples/integrations/oracledb/config.yaml
  examples/integrations/otlp/config.yaml
  examples/integrations/prometheus/config.yaml
  examples/integrations/rabbitmq/config.yaml
  examples/integrations/redis/config.yaml
  examples/integrations/snowflake/config.yaml
  examples/integrations/zookeeper/config.yaml
Labels: docker, work in progress

#197 feature: #196 Add `pprofextension` to the `k8s` distribution
  CHANGELOG.md
  distributions/k8s/manifest.yaml
Labels: documentation

#201 feature: #200 Add `logdedupprocessor` to the `k8s` distribution
  CHANGELOG.md
  distributions/k8s/manifest.yaml
Labels: documentation
