Repository solarwinds/solarwinds-otel-collector-releases, pull requests merged in 2025-04, with the labels that each got.

#117 chore: prepare release 0.119.12
  .github/workflows/deploy.yml
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker

#118 chore: excluded solarwinds-otel-collector-releases from dependabot
  .github/dependabot.yaml
Labels: ci/cd

#126 feature: #127 Register SolarWinds entity connector
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  cmd/solarwinds-otel-collector/components_full.go
  cmd/solarwinds-otel-collector/go.mod
  connector/solarwindsentityconnector/Makefile
  connector/solarwindsentityconnector/README.md
  connector/solarwindsentityconnector/config.go
  connector/solarwindsentityconnector/connector.go
  connector/solarwindsentityconnector/doc.go
  connector/solarwindsentityconnector/factory.go
  connector/solarwindsentityconnector/generated_component_test.go
  connector/solarwindsentityconnector/generated_package_test.go
  connector/solarwindsentityconnector/go.mod
  connector/solarwindsentityconnector/go.sum
  connector/solarwindsentityconnector/internal/metadata/generated_status.go
  connector/solarwindsentityconnector/metadata.yaml
Labels: docker

#134 chore: preparing for release v0.123.0.
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker

#137 chore: golang.org/x/net has been promoted to v0.38.0
  cmd/changes-analyzer/go.mod
  cmd/changes-analyzer/go.sum
  cmd/solarwinds-otel-collector/go.mod
  cmd/solarwinds-otel-collector/go.sum
  connector/solarwindsentityconnector/go.mod
  connector/solarwindsentityconnector/go.sum
  exporter/solarwindsexporter/go.mod
  exporter/solarwindsexporter/go.sum
  extension/solarwindsextension/go.mod
  extension/solarwindsextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/k8sconfig/go.mod
  internal/k8sconfig/go.sum
  processor/k8seventgenerationprocessor/go.mod
  processor/k8seventgenerationprocessor/go.sum
  receiver/swohostmetricsreceiver/go.mod
  receiver/swohostmetricsreceiver/go.sum
  receiver/swok8sobjectsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.sum
Labels: docker

#142 chore: preparing release v0.123.1
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker
