Repository solarwinds/solarwinds-otel-collector-releases, pull requests merged in 2025-01, with the labels that each got.

#15 [docs] Add changelog for v0.113.3
  CHANGELOG.md
Labels: documentation

#18 docs: add remark on v0.113.4 main change
  CHANGELOG.md
Labels: documentation

#19 build: tagging releases with 'latest' tag
  .github/workflows/buildAndDeploy.yml
  CHANGELOG.md
  README.md
Labels: documentation

#16 docs: Add Naming Guidelines
  .github/dependabot.yaml
  .github/workflows/checkPullRequestSemantics.yml
  README.md
  build/docker/README.md
  docs/development-guidelines.md
Labels: documentation, ci/cd

#20 feature: Add k8s Distribution
  .github/workflows/buildAndDeploy.yml
  CONTRIBUTING.md
  Makefile
  README.md
  build/docker/Dockerfile
  build/docker/Dockerfile.k8s
  build/docker/README.md
  build/docker/copy-journal-binary.sh
  cmd/solarwinds-otel-collector/components_full.go
  cmd/solarwinds-otel-collector/components_k8s.go
  cmd/solarwinds-otel-collector/go.mod
  cmd/solarwinds-otel-collector/go.sum
  cmd/wrapper/go.mod
  cmd/wrapper/wrapper.go
Labels: documentation, docker

#22 chore: Update Vulnerable Dependencies and Current Year
  Makefile
  Makefile.Common
  build/check-licenses.sh
  build/docker/copy-journal-binary.sh
  cmd/solarwinds-otel-collector/components_full.go
  cmd/solarwinds-otel-collector/components_k8s.go
  cmd/solarwinds-otel-collector/go.mod
  cmd/solarwinds-otel-collector/go.sum
  cmd/solarwinds-otel-collector/main.go
  cmd/wrapper/wrapper.go
  expected-go-file-header.txt
  expected-shell-file-header.txt
  exporter/solarwindsexporter/config.go
  exporter/solarwindsexporter/config_test.go
  exporter/solarwindsexporter/doc.go
  exporter/solarwindsexporter/factory.go
  exporter/solarwindsexporter/go.mod
  exporter/solarwindsexporter/go.sum
  exporter/solarwindsexporter/solarwinds_exporter.go
  extension/solarwindsextension/config_test.go
  extension/solarwindsextension/doc.go
  extension/solarwindsextension/endpoint_config.go
  extension/solarwindsextension/extension.go
  extension/solarwindsextension/factory.go
  extension/solarwindsextension/go.mod
  extension/solarwindsextension/go.sum
  extension/solarwindsextension/internal/config.go
  extension/solarwindsextension/internal/datacell_test.go
  extension/solarwindsextension/internal/exporter.go
  extension/solarwindsextension/internal/heartbeat.go
  extension/solarwindsextension/internal/hearthbeat_test.go
  extension/solarwindsextension/internal/uptime_counter.go
  extension/solarwindsextension/internal/uptime_metric.go
  internal/e2e/config_test.go
  internal/e2e/containers.go
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/e2e/signals_processing_test.go
  internal/tools/tools.go
  pkg/testutil/config.go
Labels: docker

#24 feature: Append Collector Name to All Exported Signals in Exporter
  CHANGELOG.md
  exporter/solarwindsexporter/config.go
  exporter/solarwindsexporter/solarwinds_exporter.go
  extension/solarwindsextension/README.md
  extension/solarwindsextension/common_config.go
  extension/solarwindsextension/extension.go
  extension/solarwindsextension/internal/heartbeat.go
  internal/e2e/signals_processing_test.go
Labels: documentation

#33 chore: Add Windows Architecture
  .github/workflows/buildAndDeploy.yml
  build/docker/Dockerfile.Windows-2022
  build/docker/Dockerfile.Windows-Runtime
  build/docker/Dockerfile.k8s.Windows-2022
  build/docker/Dockerfile.k8s.Windows-Runtime
  cmd/solarwinds-otel-collector/main.go
  cmd/solarwinds-otel-collector/main_others.go
  cmd/solarwinds-otel-collector/main_windows.go
Labels: docker

#36 fix: Adding missing batch processor in k8s image distribution
  cmd/solarwinds-otel-collector/components_k8s.go
Labels: docker
