Repository solarwinds/solarwinds-otel-collector-releases, pull requests merged in 2025-03, with the labels that each got.

#73 feature: #72 copy k8sobjectsreceiver
  cmd/solarwinds-otel-collector/components_full.go
  cmd/solarwinds-otel-collector/components_k8s.go
  cmd/solarwinds-otel-collector/go.mod
  internal/k8sconfig/Makefile
  internal/k8sconfig/config.go
  internal/k8sconfig/go.mod
  internal/k8sconfig/go.sum
  receiver/swok8sobjectsreceiver/Makefile
  receiver/swok8sobjectsreceiver/README.md
  receiver/swok8sobjectsreceiver/config.go
  receiver/swok8sobjectsreceiver/config_test.go
  receiver/swok8sobjectsreceiver/doc.go
  receiver/swok8sobjectsreceiver/e2e_test.go
  receiver/swok8sobjectsreceiver/factory.go
  receiver/swok8sobjectsreceiver/factory_test.go
  receiver/swok8sobjectsreceiver/generated_component_test.go
  receiver/swok8sobjectsreceiver/generated_package_test.go
  receiver/swok8sobjectsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.sum
  receiver/swok8sobjectsreceiver/internal/metadata/generated_status.go
  receiver/swok8sobjectsreceiver/metadata.yaml
  receiver/swok8sobjectsreceiver/mock_discovery_client_test.go
  receiver/swok8sobjectsreceiver/mock_dynamic_client_test.go
  receiver/swok8sobjectsreceiver/mock_log_consumer_test.go
  receiver/swok8sobjectsreceiver/receiver.go
  receiver/swok8sobjectsreceiver/receiver_test.go
  receiver/swok8sobjectsreceiver/testdata/config.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/collector/clusterrole.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/collector/clusterrolebinding.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/collector/configmap.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/collector/deployment.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/collector/service.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/collector/serviceaccount.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/expected/pull_namespaces.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/expected/watch_events.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/expected/watch_events_core.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/expected/watch_namespaces.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/testobjects/event.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/testobjects/event_core.yaml
  receiver/swok8sobjectsreceiver/testdata/e2e/testobjects/namespace.yaml
  receiver/swok8sobjectsreceiver/unstructured_to_logdata.go
  receiver/swok8sobjectsreceiver/unstructured_to_logdata_test.go
Labels: docker

#75 feature: #72 prepare release 0.119.3
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker

#78 chore: improved dependabot configuration
  .github/dependabot.yaml
  cmd/solarwinds-otel-collector/go.mod
  cmd/solarwinds-otel-collector/go.sum
  receiver/swok8sobjectsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.sum
Labels: docker, ci/cd

#81 chore: dependabot update
  .github/dependabot.yaml
Labels: ci/cd

#97 chore: #96 updating swok8sobjectsreceiver
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
  receiver/swok8sobjectsreceiver/receiver.go
Labels: documentation, docker

#98 chore: #96 swok8sobjectsreceiver remove managed fields
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
  receiver/swok8sobjectsreceiver/receiver.go
Labels: documentation, docker

#99 chore: bump Docker go to 1.23.6, bump vulnerable dependencies and prepare release 0.119.6
  CHANGELOG.md
  build/docker/Dockerfile
  build/docker/Dockerfile.Windows-2022
  build/docker/Dockerfile.k8s
  build/docker/Dockerfile.k8s.Windows-2022
  cmd/solarwinds-otel-collector/go.mod
  cmd/solarwinds-otel-collector/go.sum
  exporter/solarwindsexporter/go.mod
  exporter/solarwindsexporter/go.sum
  extension/solarwindsextension/go.mod
  extension/solarwindsextension/go.sum
  internal/e2e/go.mod
  internal/e2e/go.sum
  internal/k8sconfig/go.mod
  internal/k8sconfig/go.sum
  pkg/version/go.sum
  pkg/version/version.go
  processor/k8seventgenerationprocessor/go.mod
  processor/k8seventgenerationprocessor/go.sum
  receiver/swohostmetricsreceiver/go.mod
  receiver/swohostmetricsreceiver/go.sum
  receiver/swok8sobjectsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.sum
Labels: documentation, docker

#102 chore: Fix CVE-2025-22866, prepare release 0.119.7
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  internal/k8sconfig/go.mod
  internal/tools/go.mod
  pkg/testutil/go.mod
  pkg/version/go.mod
  pkg/version/version.go
  processor/k8seventgenerationprocessor/go.mod
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker

#101 feature: #100 added ap-01 datacell support
  README.md
  extension/solarwindsextension/README.md
  extension/solarwindsextension/internal/config.go
  extension/solarwindsextension/internal/datacell_test.go
Labels: documentation

#104 chore: release 0.119.8
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
Labels: documentation, docker

#109 chore: Address CVE-2025-29786, prepare release v0.119.9
  CHANGELOG.md
  cmd/solarwinds-otel-collector/go.mod
  cmd/solarwinds-otel-collector/go.sum
  exporter/solarwindsexporter/go.mod
  extension/solarwindsextension/go.mod
  internal/e2e/go.mod
  pkg/version/version.go
  receiver/swohostmetricsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.mod
  receiver/swok8sobjectsreceiver/go.sum
Labels: documentation, docker

#107 feature: #106 Ignore timestamps
  CHANGELOG.md
  receiver/swok8sobjectsreceiver/receiver.go
  receiver/swok8sobjectsreceiver/receiver_test.go
Labels: documentation
